@import "tailwindcss";

.weatherCard { 
/* From https://css.glass */
background: rgba(124, 145, 181, 0.26);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.3px);
-webkit-backdrop-filter: blur(3.3px);
}